Non-Functional Requirements:
1.	The app must start in 2 seconds on average.
2.	The app aims to switch/load pages in 1 second on average.
3.	The app will match riders within 90 seconds.
4.	The app will have a high level of encryption for the user's data on our system to ensure security and safety of the system.   
5.	In case of app failure, the app should relaunch within 30 seconds.
6.	App will take up less than 300 Megabytes as the system would have to be supported on mobile devices.  
7.	The app will have maximum uptime in order to increase usage and credibility.
8.	App failure should occur no more than 1 in 100 times of using the app.
9.	The app should be compatible with 95% of devices.
10.	The app should be able to handle a large number of concurrent users and provide a smooth user experience even during peak hours.
11.	The app should respond quickly to user requests and provide a seamless experience.
12.	The app should be easy to maintain and update, with clear documentation and well-organized code. It should also adhere to industry's best practices and standards.
